<div class="container mt-5">
  <lr-config
  ctx-name="my-uploader"
  pubkey="aa52fc602f52f6cace87"
/>

<lr-file-uploader-regular ctx-name="my-uploader" />
    <div class="row">
        <div class="col-md-3" *ngFor="let property of properties">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/images.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{property.name}}</h5>
                  <p class="card-text">{{property.description}}</p>
                  <a href="#" class="btn btn-primary">Reserve</a>
                </div>
              </div>
        </div>
    </div>
</div>
