<div class="avatar">
    @if (!kcService.isLoggedIn()) {
        <a class="login" (click)="login()">Login</a>
        <button class="btn btn-primary" (click)="login()">Sing up</button>   
    } @else {
        <ul>
            <li class="make-online">
                <fa-icon [icon]="['fas','cart-plus']"></fa-icon>
                <span>Utopisez ton logement</span>
            </li>
            <li>
                <img src="../../../../../assets/icon-256x256.png">
                <ul>
                    <li class="sub-item">
                        <fa-icon [icon]="['fas','circle-user']"></fa-icon>
                        <span>Profile</span>
                    </li>
                    <li class="sub-item">
                        <fa-icon [icon]="['fas','gear']"></fa-icon>
                        <span>Settigns</span>
                    </li>
                    <li class="sub-item" (click)="logout()">
                        <fa-icon [icon]="['fas','right-from-bracket']"></fa-icon>
                        <span>Logout</span>
                    </li>
                    <li class="sub-item">
                        <fa-icon [icon]="['fas','circle-question']"></fa-icon>
                        <span>Help</span>
                    </li>
                </ul>
            </li>
        </ul>
    }
</div>