@import '../../../../assets/scss/bootstrap-variables';

a.logo {
    margin-left: 50px;
}

ul {
    li {
        margin-left: 16px;
    }
}

.avatar {
    margin-right: 20px;

    a {
        color: $white;
        margin-right: 14px;
    }
}